html{
    background-color: var(--background-color);
    background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 49%, rgba(0, 0, 0, 0.65) 100%);
    background-size: cover;
    background-position: center;;
    background-repeat: var(--bg-repeat);
}
body{
    margin: 0 0 0 0;
    height: 100%;
    overflow: auto;
    min-height: 100%;
    width: 100%;
    width: 100%;
    color: var(--text-color);
    font-family: Helvetica, "Nimbus Sans L", Robotto, Arial, sans-serif;
    font-size: 1.2em;
    line-height: 1.5;
}
header{

    height: 47%;
    font-size: 1.3em;
    display: table;
}
header #container{
    display: table-cell;
    width: 100%;
    vertical-align: bottom;
    text-align: center;
}
a{
    color: var(--accent-color);
}
a:visited{
    color: var(--accent-color);
}
svg {
    fill: var(--icon-color);
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border-width: 100px;
}
svg:hover{
    fill: var(--icon-color-hover);
    background-color: white;
    border-radius: 50%;
    transform: scale(1.25);
}
#avatar{
    display: inline-block;
    /*margin-left: auto;
    margin-right: auto;*/
    border-radius: 50%;
    height: 20%;
}
#avatar_container{
    float: legft;
    display: inline-block;
    padding-bottom: 10%;
    min-height: 20%;
}
#social{
    margin-top: 20px;
    display: inline-block;
    width: 100%;
    /*margin-bottom: 20px;*/
}
/*
    Navigation bar
*/
nav{
    text-align: center;
    transition: height 0s;
    transition: background-color 700ms linear;
    position: fixed;
    z-index: 10000000;
    top: 0;
    width: 100%;
}
#sticky-anchor{
    transition: height 0s;
}
nav.stick{
    background-color: var(--nav-bar-background-color);
    text-align: center;
}
nav a{
    text-decoration: none;
}
nav a:visited{
    color: var(--nav-bar-text-color);
}
nav a button{
    border-color: transparent;
    border-style: solid;
    color: var(--nav-bar-text-color);
    border-width: var(--button-border-width);
    background-color: transparent;
    height: 64px;
    text-transform: uppercase;
    transition: background-color 0s;
}
nav a button:hover{
    border-color: var(--icon-color-hover);
}
main{
    z-index: 0;
    width: 100%;
    margin: 0 auto;
    /*height: calc(100% - 80px);*/
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    justify-content: center;
    align-content: center;
}
.card{
    margin: 0 auto;
    background: white;
    width: 50%;
}
/*main{
    margin: 0 auto;
    max-width: 48em;
    padding: 2em 1em;

}*/
a{
    display: inline-block;
}
main section{
    max-height: 500em; /* If the cotnent on mobiles seems cutted, increase this*/
    overflow: hidden;
    margin-top: 20px;
}
.hidden_sec{
    max-height: 0px;
}

main #about{
    width: 100%;
}
main h2{
    width: 100%;
    flex-grow: 90;
}

main #about #about-text{
    /*background-color: red;*/
    width: 100%;
}
main #about #face-container{
    width: 100%;
}
main #about #face-container #face{
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 50%;
}
main #skills{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    width: 100%;
}
main h2,
main h3{
    flex-grow: 2;
    width: 100%;
}
/*
    Skills rating's item
*/
main #skills .skill_rating{
    width: 100%;
    border-radius: 20px;
    padding-top: 2px;

}
main #skills .skill_rating #name{
    float: left;
    width: 50%;
}
main #skills .skill_rating #rate{
    float: right;
}
main #skills .skill_rating #rate svg{
    width: 1.4em;
    height: 1.4em;
    fill: var(--text-color);
}
main #skills .skill_rating #rate svg:hover{
    background-color: transparent;
}
main #skills .skill_rating #description{
    clear: both;
    float: left;
    display: block;
    position: relative;
    max-height: 0px;
    overflow: hidden;
    color: var(--text-color-light-bg);
}
/*
    Skill ratings'item when hovered
*/
main #skills .skill_rating:hover{
    background-color: white;
    box-shadow: var(--bigger-shadow);
    fill:black;
    z-index: 10;
}
main #skills .skill_rating:hover #name{
    color: black;
    float: none;
    font-weight: bold;
    padding-left: 5%;
}
main #skills .skill_rating:hover #rate{
    padding-right: 5%;
}
main #skills .skill_rating:hover #rate svg{
    fill: var(--icon-color-hover);
    transform: scale(1.25);
}
main #skills .skill_rating:hover #description{
    max-height: 200px;
    height: auto;
    font-size: auto;
    padding-left: 10%;
    padding-right: 10%;
}

main #photos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    width: 100%;
}

main #photos .photo_container{
    position: relative;
    margin-bottom: 4px;
}
main #photos .photo_container #actual_photo{
    width: calc(100% - 5px);
}


footer{
    /*min-height: 20%;*/
    background: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .4) 18%, rgba(0, 0, 0, 0.85) 100%), url('res/background.jpg')/*var(--bg-image)*/;
    background-color: var(--background-color);
    background-size: cover;
    background-position: bottom;
    background-repeat: var(--bg-repeat);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    /*justify-content: center;*/
    /*align-items: center;*/
}
footer #left, footer #right, footer #center{
    font-size: .9em;
    text-align: center;
    width: 100%;
    margin-right: 20px;
    margin-left: 20px;
    color: var(--nav-bar-text-color);
    padding-top: 10px;
    /*flex-grow: 2;*/
}
footer #left{
    order: 0;
}
footer #right{
    order: 1;
}
footer #center{
    order: 2;
}
.arrow_box.current{
    border-bottom-color: var(--accent-color);
    background-color: var(--accent-color);
}
/*For the tootips*/


/*From http://www.cssarrowplease.com/ ! */
.arrow_box {
    position: relative;
}
.arrow_box:after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: transparent;
    border-top-color: var(--accent-color);
    border-width: 20px;
    margin-left: -20px;
}
button{
    font-family: inherit;
    font-weight: bold;
}
h1, h2, b{
    color: --var(--text-color-strong);
}
/**
Adopt for wider screens. styles above are for small screens
*/
@media screen and (min-width: 480px) {
    /*Device is not small but not very big: average*/
    main #skills .skill_rating {
        width: 49%;
    }
    main #photos .photo_container{
        margin-bottom: 4px;
        max-width: calc(33.333% - 2px);
    }
    main #photos .photo_container #actual_photo{
        width: 100%;
        object-fit: contain;
    }
}

@media screen and (min-width: 580px) {
    /*It's getting bigger!*/
    main #about #about-text{
        /*background-color: blue;*/
    }
    /*Footer: left - right and center in the line below*/
    footer #left, footer #right, footer #center{
        width: calc(50% - 40px);
    }
    footer #left{
        text-align: left;
        order: 0;
    }
    footer #right{
        text-align: right;
        order: 1;
    }
    footer #center{
        width: 100%;
        text-align: center;
        order: 2;
    }
}

@media screen and (min-width: 1050px) {
    /*screen is huuuuuge*/
    footer #left, footer #right, footer #center{
        width: 32%;
        /*order: 0;*/
    }
    footer #left{
        order: 0;
        margin-right: 0px;
    }

    footer #center{
        order: 1;
        margin: 0;
        margin-top: auto;
    }

    footer #right{
        order: 2;
        margin-left: 0px;
    }
    main #about #face-container{
        width: calc(20%);
        display: inline-block;
        margin: 10px;
        float: left;
        /*width: 100%;*/
    }
    main #about #face-container #face{
        border-radius: 50%;
    }

    main #about #about-text{
        float: right;
        /*background-color: blue;*/
        display: inline-block;
        text-align: justify;
        width: calc(80% - 2.5 * var(--margin));
    }
}
