</main>
<footer>
    <div id="left">
        Find me on <br/>
        <a href='https://twitter.com/lexim_o'><img class='icon social' src='{{ site.baseurl }}/res/icon/twitter.svg'/></a>
        <a href='https://github.com/alexive'><img class='icon social' src='{{ site.baseurl }}/res/icon/github-circle.svg'/></a>
        <a href='/contact' id='email-link'><img class='icon social' src='{{ site.baseurl }}/res/icon/email-outline.svg'/></a>
    </div>
    <div id="right">
        Icons from <a href='https://materialdesignicons.com/'>Material Design Icons</a>
        and <a href='http://devicon.fr/'>Devicon</a><br/>
        Photos and website design by <a href="../">Alex Oliveira</a>
    </div>
    <div id="center_bottom">
        Hosted with <img class='icon heart' src='{{ site.baseurl }}/res/icon/heart.svg' /> on GitHub
    </div>
</footer>
</body>
</html>
