@import "../../../styles";

#container{
  min-height: calc(100vh + #{$nav-height} * 2);
  display: grid;
  grid-template-columns: 40% auto;
  grid-template-rows: .6fr .4fr 1fr;;
  align-items: start;
  justify-items: center;
  place-content: space-around;
  padding-top: $nav-height;

  .card{
    width:  40%;
    min-width: 300px;
    height: 120px;

  }
}

/**
 * Skills card
 */
#skills-container{
  justify-self: stretch;
  align-self: stretch;
  position: relative;
  grid-row: 1 / span 3;
}

/**
 * Facts card
 */
#facts{
  display: flex;
  flex-direction: column;
  background: $licorice;
  min-width: 200px;
  width: 250px !important;
  height: 200px !important;

  h3{
    margin-bottom: 0;
    color: white;
    text-align: left;
    text-transform: lowercase;
  }

  hr{
    margin: 0;
  }

  #fact-container{

    flex-grow: 1;
    display: flex;
    flex-direction: row;
    padding: 5px;

    #fact{
      color: darken(white, 5%);
      font-style: italic;
      align-self: center;
      text-align: center;
      flex-grow: 1;
      margin-left: 5px;
      margin-right: 5px;
    }

    .control{
      min-width: 30px;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      background: darken(white, 45%);
      align-self: center;
      opacity: .5%;

      &.active{
        background: white;
        opacity: 100%;
      }
    }
  }

}




/**
 * Arrows on buttons, from https://www.w3schools.com/howto/howto_css_arrows.asp
 */

i.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

