<div id="container">
  <div id="skills-container">
    <app-skills-card *ngIf="skills" [skills]="skills"></app-skills-card>
  </div>
  <div class="card" id="facts">
    <h3>Random fact</h3>
    <hr class="colorful"/>
    <div id="fact-container">
      <button class="control" id="previous" (click)="previousFact()" [class.active]="currentFact > 0">
        <i class="arrow left"></i>
      </button>
      <span id="fact">
          {{facts[currentFact]}}
        </span>
      <button class="control" id="next" (click)="nextFact()" [class.active]="hasMoreFacts()">
        <i class="arrow right"></i>
      </button>
    </div>
  </div>


  <div class="card" style="min-width: 300px;"></div>
  <div class="card" style="min-width: 300px;"></div>
</div>
