@import "../../../styles";

#business-card-container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(-45deg,
    rgba(darken($color-tertiary, 25%), 0.75),
    rgba($color-primary, 0.55)
  ), url('/assets/bg2-compressed.jpg');
  background-size: cover;
  background-attachment: fixed;
}

#about-me-container{
  min-height: 100vh;
  background: linear-gradient(0deg,
    rgba(darken($color-secondary, 30%), 0.40),
    rgba(darken($color-tertiary, 25%), 0.65)
  ), url('/assets/bg1-compressed.jpg');
  background-size: cover;
  background-attachment: fixed;
}
