<div class="card" id="container">
  <h3>I can do...</h3>
  <hr class="colorful"/>
  <div class="tab-container">
    <div class="tab"
         *ngFor="let skill of skills; index as i"
         [attr.selected]="selectedTab == i ? true : undefined"
         (click)="selectedTab = i">
      {{skill.name}}
    </div>
  </div>
  <div class="tab-content"
       *ngFor="let skill of skills; index as i"
       [attr.selected]="selectedTab ==  i ? true : undefined">

    <div class="skill-section">
      <span class="skill-description" *ngIf="skill.description">{{skill.description}}</span>
      <h4 *ngIf="skill.skills.languages">Languages</h4>
      <div class="card skill-card" *ngFor="let s of skill.skills.languages">
        <img alt="{{s.name}}" src="/assets/{{s.name | normalizeFileName}}.svg"/>
        <div>
          <h5>{{s.name}}</h5>
        </div>
      </div>
      <h4 *ngIf="skill.skills.frameworks">Frameworks</h4>
      <div class="card skill-card" *ngFor="let s of skill.skills.frameworks">
        <img alt="{{s.name}}"  src="/assets/{{s.name | normalizeFileName}}.svg"/>
        <div>
          <h5>{{s.name}}</h5>
        </div>
      </div>
    </div>

  </div>
</div>
