:root {
    --nav-bar-height: 48px;
    --full-minus-nav-bar-height: calc(100vh - 48px);
    /*--bg-image: url('res/background.jpg'); doesnt work with chrome*/
    --bg-size: cover;
    --bg-repeat: no-repat;
    --bg-position: top;

    --icon-color: white;
    --icon-color-hover: var(--accent-color);

    --nav-bar-text-color: white;
    --nav-bar-link-color: #FF7884;
    --nav-bar-background-color: #007BB0;

    --background-color: #E6E6E6;
    --light-background-color: var(--background-color);
    --dark-background-color: #13000C;

    --card-background-color: white;

    --accent-color: #E91E63;
    --primary-color: #448AFF;

    --text-color: #2B2B2B;
    --dark-text-color: #CDCDCD;
    --light-text-color: var(--text-color);

    --text-color-strong: black;
    --light-text-color-strong: var(--text-color-strong);
    --dark-text-color-strong: white;

    --margin: 20px;

    --button-border-width: 4px;

    --shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    --bigger-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}


.elevated{
    box-shadow: var(--shadow);
}
.elevated_more{
    box-shadow: var(--bigger-shadow);
}
